.home-img img {
    width: 400px;
    width: 100%;
    margin-top: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.home-img {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(3, 1fr);
}



.news-header {
    margin-top: 150px;
    margin-bottom: 80px;
    font-size: 4em;
    font-weight: bold;
    color: #c026d3 !important;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}
.img-container img {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 0 auto;
    margin-bottom: 180px;
    border-radius: 1rem;
}
.news-container {
    margin-bottom: 180px;
    margin: 0 auto;

}
@media only screen and (max-width: 576px) {
    .img-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .img-container {
        grid-template-columns: repeat(2, 1fr);
    }
}